/* 个人信息Css */
.CheckInvoices{
    background-color: white;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
}

.PersonalAddress{
    height: 8rem;
}
.InvoicesName {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-bottom: 0.08rem solid #EBEBEB;
}

.MaxRadios{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.radios{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.InvoicesName span{
    width: 20%;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items:center ;
}

input::-webkit-input-placeholder{
    color: #707070;
    text-align: right; 
}

.InvoicesTelephone {
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-bottom: 0.08rem solid #EBEBEB;
}
.InvoicesTelephone p{
    width: 30%;
    font-size: 0.9rem;
  
}
.InvoicesTelephone input{
    width: 70%;
    border: none;
    outline: none;
    text-indent: 2rem;
}



/* 按钮信息 */
.CheckPreservation{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PreservationBtn{
    color: white;
    width: 90%;
    height: 2.8rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #0cd4d3;
    outline: none;
}

.CheckModify{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModifyBtn{
    width: 90%;
    height: 2.8rem;
    border-radius: 0.3rem;
    border: none;
    border: 0.1rem solid #dddddd;
    background-color: #ffffff;
    outline: none;
}




.radios{
    color: #707070;
    width: 70%;
    font-size: 0.6rem;
    display: flex;
    align-items: center;

}
input[type=radio]{
    margin-right: 0.2rem;
}
    input[type=radio]:checked::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #0CD4D3;
    border-radius: 50%;
}
input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
    vertical-align: center;
    background: #fff;
    border: 0.05rem solid #0CD4D3;
    position: relative;
    border-radius: 50%;
}
 