.informationDateTime{
    display: flex;
    justify-content: center;
    align-items: center;
}
.DateTime{
    color: #ffffff;
    font-size: 0.8rem;
    background-color: #cdcdcd;
    text-align: center;
    border-radius: 0.6rem;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

.informationContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.informationTitle{
    font-size: 0.8rem;
    width: 90%;
    box-sizing: border-box; 
    padding: 0.8rem;  
    border-radius: 0.5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
}
.informationlist{
    border-top: #707070 solid 0.01rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: blue;
}
.listTile{
    color: blue;
}

.informationTitle span{
    margin-bottom: 0.2rem;
}
.informationTitle p{
    line-height: 1.2rem;
    border: none;
    outline: none;
    color: #707070;
    overflow:hidden;  
    text-overflow:ellipsis;  
    white-space: normal;  
    display:-webkit-box;  
    -webkit-box-orient:vertical;  
    -webkit-line-clamp:2;
}

.ImageDiv{
    height: 10rem;
    border-radius:   0.5rem; 
}
.ImageDiv img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}