.Invoice{
    display: flex;
    justify-content: center;
    align-items: center;
}
.InvoiceContent{
    width: 95%;
    height: 5rem;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 0.3rem;

}
.InvoiceTile{
    height: 2.5rem;
    border-bottom: 0.05rem solid #dddddd;
    box-sizing: border-box;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TileName{
    font-size: 0.8rem;
}


.InvoiceTile p {
    color: #686868;
}
.RedDefault{
    font-size: 0.3rem;
    background-color: #0CD4D3;
    color: #ffffff;
    border-radius: 0.3rem; 
    padding: 0 0.3rem;
}
.InvoicePersonal{
    font-size: 0.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #686868;
}
.InvoiceBtn{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BtnAdd{
    width: 95%;
    height: 2.5rem;
    color: white;
    background-color: #0cd4d3;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}