.centers{
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}
.logisticss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 1rem 0;
}
.logisticssImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #0cd4d3;

}
.logisticssTest{
    width: 82%;
    height:3rem;

}
.logisticssTest span{
    font-size: 0.8rem;
    color: #9597A6;
}
.copy{
    text-align: center;
    font-size: 0.1rem;
    border-radius: 25%;
    color: #707070;
    background-color:#ebe9e9;
}