<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home/element.css">
    <link rel="stylesheet" href="../../css/me/dispose.css">
    <link rel="stylesheet" href="../../css/icon/iconfont.css">
    <script src="../../js/iconfont.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <title>申请售后</title>
    <style>

    </style>
</head>

<body>
    <div class="app">
        <div class="dispose">
            <div class="select" @click='select'>
                <div style="flex: 20;">{{genre}}</div>
                <div style="flex: 1;">></div>
            </div>
            <div class="money" v-if='hide'>
                <div>退款金额</div>
                <div>
                    <span style="color: #FF4536;">¥</span>
                    <input type="text" placeholder="请输入退款金额（不可超过订单金额）" v-model='value'>
                    <span style="color: #0CD4D3;" @click='rests' v-if='moneyRests'>其他金额</span>
                </div>
            </div>
            <div>
                <!-- <textarea name="" id="" placeholder="请说明原因"></textarea> -->
                <input type="text" placeholder="请说明原因">
            </div>
            <div class="upImg">
                <div>上传图片</div>
                <div class="img">

                    <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card" :on-preview="handlePictureCardPreview" :on-remove="handleRemove" multiple :limit="3">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible" size="tiny">
                        <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>

                </div>
            </div>
            <div class="upBtn" @click='upApply'>提交申请</div>
        </div>
        <div class="model" @click='shut' v-if='show'></div>
        <div class="modelInfo fadelogIn" v-if='modelShow'>
            <div @click='change(index)' v-for='(item,index) in modelInfo'>{{item.select}}</div>
        </div>
        <div class="ensure" v-if='hint'>

            <div class="icon">
                <svg class="icon" aria-hidden="true" style="width: 3rem;height:3rem;">
                            <use xlink:href="#icontijiaochenggong"></use>
                    </svg>
            </div>
            <div class="">提交成功</div>
            <div class="notice">商家将尽快处理您的售后申请请注意查看售后订单状态</div>
            <div class="btn" @click='know'>知道了</div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            hint: false,
            value: '5241.00',
            hide: '5241.00',
            genre: '仅退款',
            moneyRests: true,
            modelShow: false,
            show: false,
            modelInfo: [{
                select: '仅退款',
                money: '5241.00'
            }, {
                select: '退货退款',
                money: '5241.00'
            }, {
                select: '商品维修',
                money: ''
            }, {
                select: '商品更换',
                money: ''
            }],
            imglist: ['../../img/daffodil.jpg'],
            dialogImageUrl: '',
            dialogVisible: false
        },
        computed: {

        },
        methods: {
            select() {
                this.show = true
                this.modelShow = true
            },
            shut() {
                this.show = false
                this.modelShow = false
                this.hint = false
            },
            change(index) {
                // console.log(this.modelInfo[index].select)
                this.genre = this.modelInfo[index].select
                this.show = false
                this.hide = this.modelInfo[index].money
                this.modelShow = false
                console.log(this.genre)
            },
            rests() {
                this.value = ''
                this.moneyRests = false
            },
            upApply() {
                this.show = true
                this.hint = true
            },
            know() {
                this.show = false
                this.hint = false
            },
            // addImg(e) {
            //     console.log(this.$refs.inputer)
            //     let oFIle = document.getElementById('upload-ele').files[0];
            // }
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }


        }

    })
</script>

</html>