<!DOCTYPE html>
<html lang="en" style="height: 100%;background: #F1F1F1;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/me/myAddress.css">
    <link rel="stylesheet" href="../../css/home/element.css">
    <link rel="stylesheet" href="../../css/city.css">
    <link rel="stylesheet" href="../../css/icon/iconfont.css">
    <script src="../../js/iconfont.js"></script>
    
    <title>新增配送地址</title>
    <style>
        *{
            margin: 0;
        }
        
    </style>
</head> 
<body style="height: 100%;">
    <div class="app" style="height: 100%;">
        <div class="myAddressContent">

            <!-- 头部信息 -->
            <div class="Addresshead">
                <p>新增配送地址</p>
            </div>
            <!-- 个人信息块 -->
            <div class="AddressPersonal">
                <div class="PersonalTelephone">
                    <span>姓名</span>
                    <input type="text" placeholder="收货人姓名" class="Input">
                </div>
                <div class="PersonalTelephone">
                        <span>电话</span>
                        <input type="text" placeholder="收货人手机号" class="Input">
                </div>

                <div class="PersonalTelephone">
                        <span>地区</span>
                        <p class="cityy">{{ choiceAreaCon }}</p>
                        <div>
                                <svg
                                class="icon"
                                aria-hidden="true"
                                style="height:0.9rem;width:0.9rem;"
                                @click="choArea()"
                              >
                                <use xlink:href="#iconxiaofanhui"></use>
                              </svg> 
                        </div>
                </div>
                
                <div class="PersonalAddress">
                    <span>详细地址</span>
                    <textarea type="test" placeholder="街道门牌、楼层房间号等信息"></textarea>
                </div> 
            </div>
            
            <div class="MiddleBox"></div>

            <!-- 默认地址块 -->
            <div class="AddressDefault">
                <div class="DefaultLabel">
                    <span>地址标签</span>
                    <input type="text" class="DeInput">
                    
                    <div  v-for="(item,index) in list" >   
                        <p class="textlist" :class="item.checked ?'active':''" @click="change(index)">{{ item.name }}</p>
                    </div>
                </div>
                <div class="DefaultSet">
                    <span>设为默认地址</span>
                    <el-switch
                        v-model="value"
                        active-color="#e4e4e4"
                        inactive-color="#0cd4d3">
                    </el-switch>
                </div>
 
                <!-- 按钮块 -->   
                
            </div>
            <div class="DefaultPreservation">
                    <button class="PreservationBtn">保存并使用</button>
            </div>
        </div>
        <div id="address-mask" v-if="isArea">
                <div id="address-area">
                    <div id="address-area-con">
                        <ul class="address-area-tit">
                            <li 
                                :class="showProvince?'active':''" 
                                @click="selectedArea('province')">
                                {{ province }}</li>
                            <li  
                                v-if="choiceCity" 
                                :class="showCity?'active':''"
                                @click="selectedArea('city')">
                                {{ city }}</li>
                            <li  
                                v-if="choiceArea" 
                                :class="showArea?'active':''">
                            {{ area }}</li>
                        </ul>
                        <ul class="address-city" v-if="showProvince">
                            <li 
                                v-for="(n, i) in provinceList" 
                                @click="getProvince(n.id, n.name, i)" 
                                :class="i==provinceIndex?'selected-li':''">
                                {{ n.name }}</li>
                        </ul>
                        <ul class="address-city" v-if="showCity">
                            <li 
                                v-for="(n, i) in cityList" 
                                @click="getCity(n.id, n.name, i)" 
                                :class="i==cityIndex?'selected-li':''">
                            {{ n.name }}</li>
                        </ul>
                        <ul class="address-city" v-if="showArea">
                            <li 
                                v-for="(n, i) in areaList" 
                                @click="setCityEnd(n.id, n.name, i)" 
                                :class="i==areaIndex?'selected-li':''"
                            >{{ n.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="../../js/chineseCities.json"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/element.js"></script>
<script>
    
    var app = new Vue({
        el:'.app',
        data:{
            value: true,
            list:[ 
                {name:'家',checked:true},
                {name:'公司',checked:false}
            ],
            checkModel:false,
            isArea: false,  // 选择窗口显示隐藏
                choiceProvince: false, // 省按钮的显示隐藏
                choiceCity: false, // 市按钮的显示隐藏
                choiceArea: false, // 区按钮的显示隐藏
                province: '请选择',    // 选中的省
                city: '请选择', // 选中的市
                area: '请选择', // 选中的区
                showProvince: true, // 省选择的显示隐藏
                showCity: false, // 市选择的显示隐藏
                showArea: false, // 区选择的显示隐藏
                provinceId: '', // 选中的省id
                cityId: '', // 选中的市id
                areaId: '', // 选中的区id
                selected: false, // 选中的那个项
                provinceList: chineseCities, // 省列表
                cityList: '', // 市列表
                areaList: '', // 区列表
                provinceIndex: -1, // 选中态索引
                cityIndex: -1,
                areaIndex: -1,
                choiceAreaCon:'请选择地区'
        },
        methods:{
            change(index){
                for(var i=0;i<this.list.length;i++){
                    if(i!=index){
                        this.list[i].checked=false
                    }else{
                        if(this.list[i].checked==false){
                            this.list[i].checked=true                     
                        }else{
                            this.list[i].checked=false   
                        }
                        
                        

                    }
                }
            },
            choArea () {
                    this.isArea = !this.isArea; 
                },
                cityHandle (list, name, id) { //根据传入列表选择相应展示id下内容
                    return list[name];
                },
                getProvince (id, name, index) {
                    this.city = '请选择', // 选中的市
                    this.area = '请选择', // 选中的区
                    this.provinceIndex = index;
                    this.choiceCity = true;
                    this.province = name;
                    this.provinceId = id;
                    this.showProvince = false;
                    this.showCity = true;
                    this.showArea = false;
                    this.cityList = this.cityHandle(this.provinceList[index], 'city', this.provinceId);
                },
                getCity (id, name, index) { // 获取城市列表
                    this.area = '请选择', // 选中的区
                    this.cityIndex = index;
                    this.choiceArea = true;
                    this.city = name;
                    this.cityId = id;
                    this.showProvince = false;
                    this.showCity = false;
                    this.showArea = true;
                    this.areaList = this.cityHandle(this.cityList[index], 'district', this.provinceId);
                },
                setCityEnd(id, name, index) { // 区点完以后
                    this.isArea = !this.isArea;
                    this.area = name;
                    this.choiceArea = true;
                    this.choiceAreaCon = this.province + this.city + this. area;
                    this.areaIndex = index;
                    this.area = name;
                },
                selectedArea(type) { // 按钮点击
                    if (type == "province") {
                        this.cityIndex = -1;
                        this.areaIndex = -1;
                        this.choiceCity = false;
                        this.choiceArea = false;
                        this.showProvince = true;
                        this.showCity = false;
                        this.showArea = false;
                    } else if (type == "city") {
                        this.areaIndex = -1;
                        this.choiceArea = false;
                        this.showProvince = false;
                        this.showCity = true;
                        this.showArea = false;
                    }
                }
        }
    })
</script>
</html>