<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home/element.css">
    <link rel="stylesheet" href="../../css/me/workoff.css">
    <script src="../../js/vue.js"></script>
    <title>退款/售后</title>
    <style>
        * {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="app">
        <div class="workoff" v-for='(item,index) in workoff'>
            <div class="layout">
                <div style="flex: 2;">订单号：{{item.rank}}</div>
                <div style="flex: 1;" :class="item.condition==1||item.condition==2 ? 'red':'gray'">{{item.status}}</div>
            </div>
            <div class="layout">
                <div style="flex: 1;">
                    <div class="img"></div>
                </div>
                <div class="info" style="flex: 2;">
                    <div class="title">{{item.title}}</div>
                    <div>{{item.explain}}</div>
                    <div v-if='item.money'>退款金额：<span>¥{{item.money}}</span></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            a: '1',
            workoff: [{
                rank: '6154235415654875',
                status: '待处理',
                img: '',
                title: '海露中航国际5A净水系统字海露中航国际',
                explain: '免费领取安装、换新机、检测维…',
                money: '7084.00',
                condition: '1' //判断处理状态
            }, {
                rank: '6154235415654875',
                status: '处理中',
                img: '',
                title: '海露中航国际5A净水系统字海露中航国际',
                explain: '免费领取安装、换新机、检测维…',
                money: '7084.00',
                condition: '2' //判断处理状态
            }, {
                rank: '6154235415654875',
                status: '已处理',
                img: '',
                title: '海露中航国际5A净水系统字海露中航国际',
                explain: '免费领取安装、换新机、检测维…',
                condition: '3', //判断处理状态
                // money: '7084.00'
            }, ]
        },
        computed: {

        },
        methods: {


        }

    })
</script>

</html>