html {
    background-color: #ecebeb;
}

.content {
    width: 100%;
    margin: 0 auto;
    margin-top: 4%;
    height: 100%;
}

.first {
    width: 96%;
    margin: 0 auto;
    height: 100%;
}

.content-one {
    width: 42%;
    height: 35%;
    background-color: #ffffff;
    display: inline-block;
    padding: 2%;
    margin: 2%;
    border-radius: 0.5rem;
}

.content-oneDiv {
    width: 100%;
    height: 60%;
    margin: 0 auto;
}
.content-oneDiv img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.content .text {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 4% 0;
    color: #707070;
}

.text-nub {
    color: #F96165;
}

.text-hua {
    text-decoration: line-through;
    color: #707070;
    font-size: 0.7rem;
}

.text-biao {
    float: right;
    margin-top: -13%;
}
.swiper-container{
    height: 20rem;
}
.navimg{
    height: 100%;
    width: 100%;
}