.addSite {
    display: flex;
    width: 92%;
    padding: 4%;
    border-bottom: #0CD4D3 0.2rem dashed;
    background-color: #ffffff;
}

.addSite .btn {
    width: 2rem;
    height: 2rem;
    background-color: #0CD4D3;
    color: #ffffff;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.addSite .right {
    position: absolute;
    right: 4%;
    top: 3%;
}

.addSite .explain {
    margin-left: 4%;
    line-height: 4%;
    line-height: 195%;

}

.modity {
    width: 92%;
    padding: 4%;
    background-color: #F7F7F7;
    position: relative;
}

.modity .modityImg {
    width: 5rem;
    height: 5.5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modity .modityImg .img {
    width: 85%;
    height: 85%;
    background: #000;
}

.details {
    width: 60%;
    position: absolute;
    right: 4%;
    top: 20%;
}

.red {
    color: #F96165;
    font-size: 0.6rem;
}

.addNum {
    display: flex;
    margin-top: 10%;
}

.addNum .right {
    position: absolute;
    right: 4%;

}

.addNum .right div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 0.9rem;
}

.addNum .right .btn {
    border-radius: 0.5rem;
    border: #0CD4D3 0.05rem solid;
    color: #0CD4D3;
    font-weight: bold;
}

.addNum .right .active {
    background-color: #0CD4D3;
    color: #ffffff;
}

.empty {
    width: 92%;
    height: 10rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.emptyList {
    background-color: #F7F7F7;
    width: 100%;
    height: 2rem;
}

.foot {
    width: 100%;
    height: 3rem;
    background-color: #FFF4F4;
    position: fixed;
    bottom: 0;
    display: flex;
}

.foot div {
    flex: 1;
}

.footBtn {
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #F96165;
    line-height: 3rem;
}

.money {
    color: #F96165;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
}

.money span {
    color: #707070;
    font-size: 0.5rem;
}

.original {
    text-align: center;
    line-height: 3.5rem;
    color: #707070;
    font-size: 0.5rem;
    text-decoration: line-through;
}

.install {
    width: 100%;
}

.install>div {
    width: 100%;
    height: 3rem;
    border-bottom: #DDDDDD 0.05rem solid;
}

.choice {
    display: flex;
}

.choice div {
    
    line-height: 3rem;
    margin-left: 4%;
    font-size: 0.7rem;
}

.message {
    position: relative;
}

.message div {
    color: #707070;
    font-size: 0.5rem;
    margin-left: 4%;
    margin-top: 2%;
}

.message textarea {
    position: absolute;
    right: 10%;
    top: 0;
    border: none;
    outline: none;
    resize: none;
}

.siteDetails {
    width: 92%;
    padding: 4%;
    border-bottom: #0CD4D3 0.2rem dashed;
    background-color: #ffffff;
}

.userInfo {
    width: 100%;
}

.userInfo div {
    display: inline-block;

}

.siteInfo {
    width: 100%;
}

.siteInfo div {
    display: inline-block;
    font-size: 0.7rem;
}

.model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.modelInfo{
    width: 100%;
    height: 40%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
}
.modelInfo>div{
    width: 100%;
    height: 15%;
    border-bottom: #707070 solid 0.05rem;
}
.means{
  padding-left: 35%;
  font-size: 0.8rem;
}
.means div{
    display: inline-block;
    margin-top: 2%;
}
.means .meansIcon{
    width: 1rem;
    height: 1rem;
    background-color: #707070;
    
}
.el-radio{
    margin-right: 10%;
}
.el-radio__label{
    padding-left: 0;
    font-size: 0.5rem;
}
.el-radio__input.is-checked+.el-radio__label{
    color: #000;
}
.el-radio__input.is-checked .el-radio__inner{
    border-color: #F96165;
    background: #F96165;
}
/* .choice span{
    margin-left: 5%;
    display: inline-block;
    width: 5rem;
} */
.reserve{
    width: 100%;
    padding: 4%;
    border-bottom: #707070 solid 0.05rem;
}
.empty div{
    margin-bottom: 2%;
}
.particulars{
    font-size: 0.8rem;
    padding: 4%;
}
.protocol{
    text-align: center;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #000;
}