*{
    margin: 0;
}
.imgbox{
    width: 100%;
    height: 20rem;
    background: red;
}
.describe{
     background: #fff;
     padding: 1rem 1rem ;
}
.fontsize{
    color: #8A8A8A;
    margin: 0.5rem 0;
    font-size: 0.9rem
}
h2{
    color: #F96165;
}
.beforePirce{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #8A8A8A;
}
.PostOffice{
     background: #fff;
     padding: 0.8rem 1rem;
     margin: 1rem 0;
     font-size: 0.9rem;
}
.details{
 background: #fff;
     padding: 1rem 1rem;
     display: flex;
     justify-content: center;
     font-size: 0.9rem;

}
.optionss{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
}
.optionss div{
    flex: 1;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
} 
.nowshop{
    background: #0CD4D3;
}
.contents{
     margin-bottom:3rem; 
}
.iconimg{
    display: flex;
}
.iconimg div:nth-child(1){
    border-right: 0.05rem solid #BEBEBE;
}
.iconimg div{
 flex: 1;
 display: flex;
 flex-flow: row wrap;
 align-items: center;
 background: #fff;
 font-size: 0.8rem;
 color: #979595;
}
.iconimg div p{
    width: 100%;
    display: flex;
    justify-content: center;
}
.shopcar{
    background: #FCAF03;
}

.img{
    height: 100%;
    width: 100%;
}
.heightbox{
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    
}
.downmove{
    height: 2.5rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    padding-left: 1rem;
    box-sizing: border-box;

}
.downmove p{
    width: 30%;
}
.swiper-container {
    height: 20rem;
  }
  .downmove.navBarWrap {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1
  }
  .fdafaf{
      margin-top: 6rem;
  }
  .addd{
      color: #0CD4D3;
  }
  .specification {
    width: 90%;
    margin: 0 auto;
    }
    .specification:first-child {

    }
    .specification .title {
    display: flex;
    font-size: 0.8rem;
    background-color: #ffffff;
    padding: 1% 1%;
    box-sizing: border-box;
    color: #565656;
    }
    .specification .title:nth-child(odd) {
    background-color: #F0F1F5;
    }