*{
    margin: 0;
}
.imgbox{
    width: 100%;
    height: 20rem;
    background: red;
}
.describe{
     background: #fff;
     padding: 1rem 1rem ;
}
.fontsize{
    color: #8A8A8A;
    margin: 0.5rem 0;
    font-size: 0.9rem
}
h2{
    color: #F96165;
}
.beforePirce{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #B9B9B9;
    text-decoration: line-through;
}
.PostOffice{
     background: #fff;
     padding: 0.8rem 1rem;
     margin: 1rem 0;
     font-size: 0.9rem;
     display: flex;
}
.PostOffice>p{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    color: #ABABAB;
}
.PostOffice>div{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.vipPirce{
    font-size: 0.5rem;
    border: 0.05rem solid #0CD4D3;
    color: #0CD4D3;
    margin-right: 0.5rem;
}
.dsadadafa{
    background: #fff;
     padding: 0.8rem 1rem;
     margin: 1rem 0;
     font-size: 0.9rem;
}
.jdlkfjad{
    width: 100%;
    border-bottom: 0.1rem solid #E2E2E2;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.jdlkfjad>p{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    color: #ABABAB;
}
.jdlkfjad>div{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.diadeld{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.diadeld span{
    margin-right: 0.2rem;
}
.clolor{
    color: #0CD4D3;
}
.colorhui{
    color: #B9B9B9;
}
.details{
 background: #fff;
     padding: 1rem 1rem;
     display: flex;
     justify-content: center;
     font-size: 0.9rem;

}
.optionss{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
}
.optionss div{
    flex: 1;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
} 
.nowshop{
    background: #0CD4D3;
}
.contents{
     margin-bottom:3rem; 
}
.iconimg{
    display: flex;
}
.iconimg div:nth-child(1){
    border-right: 0.05rem solid #BEBEBE;
}
.iconimg div{
 flex: 1;
 display: flex;
 flex-flow: row wrap;
 align-items: center;
 background: #fff;
 font-size: 0.8rem;
 color: #979595;
}
.iconimg div p{
    width: 100%;
    display: flex;
    justify-content: center;
}
.shopcar{
    background: #FCAF03;
}

.img{
    height: 100%;
    width: 100%;
}
.heightbox{
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    
}
.downmove{
    height: 2.5rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    padding-left: 1rem;
    box-sizing: border-box;

}
.downmove p{
    width: 30%;
}
.swiper-container {
    height: 20rem;
  }
  .downmove.navBarWrap {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1
  }
  .fdafaf{
      margin-top: 6rem;
  }
  .addd{
      color: #0CD4D3;
  }
  .specification {
    width: 90%;
    margin: 0 auto;
    }

    .specification .title {
    display: flex;
    font-size: 0.8rem;
    background-color: #ffffff;
    padding: 1% 1%;
    box-sizing: border-box;
    color: #565656;
    }
    .specification .title:nth-child(odd) {
    background-color: #F0F1F5;
    }
    .fontsizeLL{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pdians{
        color:  #707070;
    }
    .btncolor{
        font-size: 0.5rem;
    border: 0.05rem solid #0CD4D3;
    color: #0CD4D3;
    margin-right: 0.5rem;
    }
    .paddings{
        padding:0 1rem ;
        box-sizing: border-box;
    }
    .flexs{
        display: flex;
    }
    .flexs span{
        width: 10%;
    }
    .flexs p:nth-child(2){
        color: #ACACAC;
    }
    .fasdfadf{
        height: 100px;
        overflow-y:auto;
      }
      .paddings{
        height: 500px;
      }
    .mtaikuang{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);

    }
    .backgroundcolor{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 25rem;
        border-radius: 0.5rem 0.5rem 0 0 ;
        padding: 0.5rem 0.5rem;
        box-sizing: border-box;
        background: #fff;

    }
    .shoppings{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .imgg{
        width: 25%;
        height: 5rem;
        border-radius: 0.5rem;
    }
    .imgg img{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;

    }
    .shopinfo{
        width: 70%;
        
    }
    .shopinfo h4{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .shopinfo h3{
        color: #D83022;
    }
    .shopinfo p{
        color: #B9B9B9;
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .optionsss{
        width: 100%;
        margin-top: 0.5rem;
    }
    .ulli{
        width: 100%;
    }
    .ulli p{
        color: #0F0F0F;
        font-size: 0.9rem;           
    }
   .colroption{
       display: flex;
       flex-flow: row wrap;
       width: 100%;
       margin-top: 0.5rem;
   }
   .optioninfo{
      font-size: 0.9rem;
       background: #F1F1F1;
       border-radius: 0.5rem;
       padding: 0.2rem 0.8rem;
       margin-right: 0.5rem;
       margin-bottom: 0.5rem;
   }
   .naemssnum{
       display: flex;
       justify-content: space-between;
   }
   .naemssnum span{
       font-size: 0.9rem;
   }
   .namess{
       display: flex;
   }
   .namess div:nth-child(1){
       width: 1.2rem;
       height: 1.2rem;
        border-radius:50%;  
        border: 0.1rem solid #9597A6;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .namess div:nth-child(3){
    width: 1.3rem;
    height: 1.3rem;
     border-radius:50%;  
     background: #0CD4D3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
}
.namess p{
    padding: 0 0.5rem;
}
.btnqueren{
    width: 100%;
    height: 2rem;
    background: #FCAF03;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
    
 