<!DOCTYPE html>
<html lang="en" style="height: 100%; ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/home/swiper.css">
    <link rel="stylesheet" href="../../css/home/pagination.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/icon/iconfont.css">
    <link rel="stylesheet" href="../../css/home/element.css">
    <script src="../../js/iconfont.js"></script>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <title>海露会员商店</title>
    <style>
        
    </style>
</head>

<body style="height: 100%;">
    
    <div class="app" style="height: 100%;">
        <!-- 头部 -->
    <div class="navBar">
            <div class="positions">
                    <svg class="icon" aria-hidden="true" style="width: 1rem;height:1rem;margin-right:0.3rem;">
                            <use xlink:href="#icondizhi1"></use>
                    </svg>
                    <span style="font-size: 0.9rem;">珠海</span>
            </div>
            <div class="inputbtn">
                        <svg class="icon" aria-hidden="true" style="width: 1rem;height:1rem;margin-right:0.3rem;" @click="search">
                                <use xlink:href="#iconsearch"></use>
                        </svg>
                    <input type="text" placeholder="周边美食" class="inputs" v-model="searchText">
    
            </div>
        </div>
        <!-- //轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../img/daffodil.jpg" class="navimg"></div>
                <div class="swiper-slide"> <img src="../../img/daffodil.jpg" class="navimg"></div>
            </div>
            <div class="pagination"></div>
        </div>

        <!-- 内容 -->
        <div class="content">
            <div class="divinfo" v-for="(item,index) in  llist">
                <img :src="item.img">
                <p>{{item.test}}</p>
            </div>
        </div>
        <!-- 优惠区 -->
        <div class="streen">
            <div><img src="../../img/daffodil.jpg"></div>
            <div><img src="../../img/daffodil.jpg"></div>
            <div><img src="../../img/daffodil.jpg"></div>
        </div>
        <div  class="image">
                <img src="../../img/daffodil.jpg">
        </div>
        <div class="shopinginfo">
            <div class="divinfodd">
                <img src="../../img/daffodil.jpg" >
                <div class="infotest">
                    <h4>云味馆(珠海印象城店)</h4>
                    <div class="spandian"><span>停车位</span></div>
                    <div class="positionsbottom">25元&nbsp;|&nbsp;单品牛杂</div>
                </div>
            </div>
        </div>
        

    </div>
</body>
<script>
    window.onload = function() {
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 4000, //可选选项，自动滑动
            loop: true, //可选选项，开启循
            pagination: '.pagination',
        });
    }
    var app = new Vue({
        el: '.app',
        data: {
            searchText:'',
            llist:[
                {id:1,img:'../../img/daffodil.jpg',test:'美食'},
                {id:2,img:'../../img/daffodil.jpg',test:'百货购物'},
                {id:3,img:'../../img/daffodil.jpg',test:'酒店住宿'},
                {id:4,img:'../../img/daffodil.jpg',test:'旅游景点'},
                {id:5,img:'../../img/daffodil.jpg',test:'休闲娱乐'},
                {id:5,img:'../../img/daffodil.jpg',test:'休闲娱乐'},
            ]
        },
        
        methods: {
            search(){
                if(this.searchText.length==0){
                    this.$message('请输入搜索内容');
                }else{
                    this.searchText=''
                }
                
            }

        }
    })
</script>

</html>