<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home/element.css">
    <link rel="stylesheet" href="../../css/home/putIn.css">
    <link rel="stylesheet" href="../../css/icon/iconfont.css">
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/iconfont.js"></script>
    <title>提交订单</title>
    <style>
        * {
            margin: 0;
        }
        
        .el-checkbox__inner {
            border-radius: 50%;
        }
        
        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #F96165;
            border-color: #F96165;
        }
        
        .el-checkbox__inner:hover {
            border-color: #F96165;
        }
        
        .el-checkbox__input.if-focus .el-checkbox__inner {
            border-color: #F96165;
        }
        
        .el-checkbox__inner {
            z-index: 0;
        }
    </style>
</head>

<body>
    <div class="app">
        <div class="siteDetails" v-if='site.length'>

            <div class="userInfo">
                <div><i class="el-icon-location-outline"></i>收件人：</div>
                <div style="margin-right: 20%">{{site[0].recipients}}</div>
                <div>{{site[0].phone}}</div>
            </div>
            <div class="siteInfo">
                <div>收货地址:</div>
                <div>{{site[0].site}}</div>
            </div>
        </div>
        <div class="addSite" v-else>
            <div class="btn">+</div>
            <div class="explain">新建收货地址</div>
            <div class="right">></div>
        </div>

        <div class="modity">
            <div class="modityImg">
                <div class="img"></div>
            </div>
            <div class="details">
                <div style="font-size: 0.6rem">海露中航国际5A净水系统一体直饮净水机 您身边的健康饮水专家
                </div>
                <div class="addNum">
                    <div class="red">￥730.00</div>
                    <div class="right">
                        <div class="btn" @click='subtract(num)'>-</div>
                        <div style="font-size: 0.6rem;">{{num}}</div>
                        <div class="btn active" @click='addnum(num)'>+</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="empty">
            <!-- <div class="reserve">订单详情</div>
            <div class="particulars">
                <div v-for='(item,index) in particulars'>{{item.content}}</div>
                
                <div style="text-align: center; color: #707070; font-size: 0.8rem;">净水器设备由平台商家珠海海露智能物联网发货并提供售后服务</div>
                <div class="protocol">
                    <template>
                        
                        <el-checkbox v-model="checked">我已阅读并同意<span style="color:cornflowerblue">《海路用户协议》</span></el-checkbox>
                      </template>
                </div>
            </div> -->

        </div>
        <div class="emptyList"></div>
        <div class="more">
            <div class="install">
                <!-- <div style="padding: 4% 0 0 4%;">店铺活动</div> -->
                <div></div>
                <div class="choice">
                    <!-- <div style="flex: 1;">优惠卷</div>
                    <div style="flex: 2;"><template>
                        <el-radio v-model="radio" label="1">使用优惠卷</el-radio>
                        <el-radio v-model="radio" label="2">不使用优惠卷</el-radio>
                        </template>
                    </div> -->
                </div>
                <div class="choice">
                    <!-- <div style="flex: 1;">配送方式</div>
                    <div style="flex: 2;"><template>
                        <el-radio v-model="radio1" label="1">自提</el-radio>
                        <el-radio v-model="radio1" label="2">快递</el-radio>
                        </template>
                    </div> -->
                </div>
                <div class="choice">
                    <div style="flex: 1;">是否需要安装</div>
                    <div style="flex: 2;"><template>
                        <!-- <el-radio v-model="radio2" label="1">安装</el-radio> -->
                        <el-checkbox v-model="checked1">安装</el-checkbox>
                        <!-- <el-radio v-model="radio2" label="2">不需要按照</el-radio> -->
                        </template>
                    </div>
                </div>
            </div>
            <div class="message">
                <div>买家留言</div>
                <textarea name="" id="" cols="30" rows="10" placeholder="建议留言前先与商家沟通确认"></textarea>
            </div>
        </div>
        <div class="foot">
            <div class="money">￥730.00<span>/件</span></div>
            <div class="original">￥6980</div>
            <div class="footBtn" @click='putin'>提交订单</div>
        </div>

        <div class="model" v-if='show' @click='shut'></div>
        <div class="modelInfo" v-if='show'>
            <div class="means" @click='pay'>
                <div class="meansIcon"></div>
                <div class="meansName">微信支付</div>
            </div>
            <div class="means" @click='pay'>
                <div class="meansIcon"></div>
                <div class="meansName">支付宝支付</div>
            </div>
            <div class="means" @click='pay'>
                <div class="meansIcon"></div>
                <div class="meansName">货到付款</div>
            </div>
            <div class="means" @click='pay'>
                <div class="meansIcon"></div>
                <div class="meansName">（珠海）上门交易</div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            // radio: '1',
            // radio1: '1',
            // radio2: '1',
            // checked: true,
            checked1: true,
            num: 1,
            show: false,
            site: [{
                recipients: '郭大大',
                phone: '15288884562',
                site: '广东省珠海市新香洲区柠溪路'
            }],
            particulars: [{
                content: '1.全国统一零售价：6880元'
            }, {
                content: '2.国际5A净水系统，达到值饮水标准'
            }, {
                content: '3.可挂墙壁，支持多种安装方式'
            }, {
                content: '4.免费上门安装，免费换滤芯，免费售后维修'
            }, ]
        },
        computed: {

        },
        methods: {

            subtract(num) {
                // console.log(num)
                if (num < 1) {
                    this.num = 0
                } else {
                    this.num = num - 1
                    console.log(this.num)
                }

            },
            addnum(num) {
                this.num = num + 1
                console.log(this.num)
            },
            putin() {
                this.show = true
            },
            shut() {
                this.show = false
            },
            pay() {
                this.show = false
            }
        }

    })
</script>

</html>