<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home/element.css">
    <link rel="stylesheet" href="../../css/home/putIn.css">
    <link rel="stylesheet" href="../../css/icon/iconfont.css">
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/iconfont.js"></script>
    <title>提交订单</title>
    <style>
        * {
            margin: 0;
        }

        .app {
            background-color: #ecebeb;
        }


        .el-checkbox__inner {
            border-radius: 50%;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #F96165;
            border-color: #F96165;
        }

        .el-checkbox__inner:hover {
            border-color: #F96165;
        }

        .el-checkbox__input.if-focus .el-checkbox__inner {
            border-color: #F96165;
        }

        .el-checkbox__inner {
            z-index: 0;
        }
    </style>
</head>

<body style="height: 100%;">
    <div class="app" style="height: 100%;">
        <div class="siteContent">

            <div class="siteHead">
                <div class="headman">
                    <svg class="icon" aria-hidden="true" style="width: 2rem;height:2rem;">
                        <use xlink:href="#icondizhi"></use>
                    </svg>
                </div>

                <div class="siteDetails" v-if='site.length'>
                    <div class="userInfo">
                        <div style="margin-right: 20%">{{site[0].recipients}}</div>
                        <div class="phoneNub">{{site[0].phone}}</div>
                    </div>
                    <div class="siteInfo">
                        <div>{{site[0].site}}</div>
                    </div>
                </div>

                <div class="jiantou">
                    <svg class="icon" aria-hidden="true" style="width: 0.8rem;height:0.8rem;">
                        <use xlink:href="#iconxiaofanhui"></use>
                    </svg>
                </div>
            </div>

        </div>

        <div class="addSite" v-else>
            <div class="btn">+</div>
            <div class="explain">新建收货地址</div>
            <div class="right">></div>
        </div>

        <div class="siteModity">


            <div class="modity">
                <div class="shoptitle">
                    <p>商品信息</p>
                </div>

                <div class="modityBox">
                    <div class="modityImg">
                        <div class="img"></div>
                    </div>
                    <div class="details">
                        <div class="textwen" style="font-size: 0.6rem">海露中航国际5A净水系统一体直饮净水机 您身边的健康饮水专家
                        </div>
                        <p>免费领取安装、换新机、检测维护</p>
                        <div class="addNum">
                            <div class="red">￥730.00</div>
                            <div class="right">
                                <div class="btn" @click='subtract(num)'>-</div>
                                <div style="font-size: 0.6rem;">{{num}}</div>
                                <div class="btn active" @click='addnum(num)'>+</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="modity">

                <div class="modityBox">
                    <div class="modityImg">
                        <div class="img"></div>
                    </div>
                    <div class="details">
                        <div class="textwen" style="font-size: 0.6rem">海露中航国际5A净水系统一体直饮净水机 您身边的健康饮水专家
                        </div>
                        <p>免费领取安装、换新机、检测维护</p>
                        <div class="addNum">
                            <div class="red">￥730.00</div>
                            <div class="right">
                                <div class="btn" @click='subtract(num)'>-</div>
                                <div style="font-size: 0.6rem;">{{num}}</div>
                                <div class="btn active" @click='addnum(num)'>+</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="lineBox">
                <div class="lineText">
                    <p class="TextPo">配送方式</p>
                    <p class="TextPt">快递</p>
                </div>
                <div class="lineText">
                    <p class="TextPo">安装服务</p>
                    <p class="TextPtRed">￥0.00</p>
                </div>
                <div class="lineText">
                    <p class="TextPo">开具发票</p>
                    <p class="TextPt">本次不开具发票
                        <span class="svgSpan">
                            <svg class="icon" aria-hidden="true" style="width: 0.5rem;height:0.5rem;">
                                <use xlink:href="#iconxiaofanhui"></use>
                            </svg>
                        </span>
                    </p>

                </div>
                <div class="lineTextBox">
                    <div class="TextPoBox">订单备注</div>
                    <textarea class="TextPtBox" name="" id="" cols="30" rows="10" placeholder="选填、请注意商品详情说明"></textarea>
                </div>
            </div>



        </div>



        <div class="foot">
            <div class="money">￥730.00</div>
            <div class="footBtn" @click='putin'>提交订单</div>
        </div>

        <div class="model" v-if='show' @click='shut'></div>
        <div class="modelInfo" v-if='show'>
            <div class="means">
                
                <div class="meansName">选择支付方式</div>
            </div>
            <div class="means" @click='pay'>
                
                <div class="meansName" style="color: green;">微信支付</div>
            </div>
            <div class="means" @click='pay'>
                
                <div class="meansName"  style="color: blue;">支付宝支付</div>
            </div>
            <div class="means" @click='pay'>
                
                <div class="meansName"  style="color: orange;">货到付款</div>
            </div>
            <div class="means" @click='pay'>
                
                <div class="meansName"  style="color: red;">（珠海）上门交易</div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            
            checked1: true,
            num: 1,
            show: false,
            site: [{
                recipients: '郭大大',
                phone: '15288884562',
                site: '广东省珠海市新香洲区柠溪路'
            }],
            particulars: [{
                content: '1.全国统一零售价：6880元'
            }, {
                content: '2.国际5A净水系统，达到值饮水标准'
            }, {
                content: '3.可挂墙壁，支持多种安装方式'
            }, {
                content: '4.免费上门安装，免费换滤芯，免费售后维修'
            },]
        },
        computed: {

        },
        methods: {

            subtract(num) {
                // console.log(num)
                if (num < 1) {
                    this.num = 0
                } else {
                    this.num = num - 1
                    console.log(this.num)
                }

            },
            addnum(num) {
                this.num = num + 1
                console.log(this.num)
            },
            putin() {
                this.show = true
            },
            shut() {
                this.show = false
            },
            pay() {
                this.show = false
            }
        }

    })
</script>

</html>