<!DOCTYPE html>
<html lang="en" style="height: 100%;background:#F0F1F5;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../css/home/swiper.css" />
    <link rel="stylesheet" href="../../css/home/pagination.css" />
    <link rel="stylesheet" href="../../css/home/shoppingtest.css" />
    <link rel="stylesheet" href="../../css/icon/iconfont.css" />
    <link rel="stylesheet" href="../../css/home/element.css"/>

    <script src="../../js/vue.js"></script>
    <script src="../../js/iconfont.js"></script>
    <script src="../../js/swiper.js"></script>                   
    <script src="../../js/element.js"></script>
    <title>商品详情</title> 
    <style>
      
    </style> 
  </head>
  <body>
    <div class="app">
      <div class="contents">
        <!-- //轮播图 -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../img/daffodil.jpg" class="img" />      
            </div>
            <div class="swiper-slide">
              <img src="../../img/daffodil.jpg" class="img" />
            </div>
          </div>
          <div class="pagination"></div>
        </div>

        <div class="describe">
          <h3>海露中航国际5A净水系统一体直饮净水机您身边的健康饮水专家</h3>
          <p class="fontsize">（免费领取安装、换新机、检测、维护）</p>
          <div class="fontsizeLL">
            <h2>￥730.00<span class="beforePirce">原价：￥180.00</span></h2>
            <p><span>
                <svg class="icon" aria-hidden="true" style="width:1.5rem;height:1.5rem;">
                    <use xlink:href="#iconshoucang"></use>
                </svg>
            </span>  <span>
                <svg class="icon" aria-hidden="true" style="width:1.5rem;height:1.5rem;">
                    <use xlink:href="#iconiconzhengli_fenxiang"></use>
                </svg>
            </span></p>
          </div>
          
        </div>
        <div class="PostOffice">
          <p>优惠</p>
          <div><p><span class="vipPirce">会员价</span>海露会员立省6150元</p><p @click="drawer = true">
            <svg class="icon" aria-hidden="true" style="width:1.2rem;height:1.2rem;">
              <use xlink:href="#iconshenglvehao"></use>
          </svg></p></div>     
        </div>

        <div class="dsadadafa">
          <div class="jdlkfjad">
              <p>已选</p>
              <div><p>净水机，1台<br><span class="colorhui">本产品支持365天免费换新，免费安装</span></p><p><svg class="icon" aria-hidden="true" style="width:1.2rem;height:1.2rem;" @click="infodemo = true">
                  <use xlink:href="#iconshenglvehao"></use>
              </svg></p></div>   
          </div>
          <div class="jdlkfjad">
              <p>送至</p>
              <div><p>广东省珠海市香洲区<span class="clolor">[现货]</span></p><p><svg class="icon" aria-hidden="true" style="width:1.2rem;height:1.2rem;">
                  <use xlink:href="#iconshenglvehao"></use>
              </svg></p></div>   
          </div>
          <div class="diadeld">
            <div>   
                <span><svg class="icon" aria-hidden="true" style="width:0.9rem;height:0.9rem;">
                  <use xlink:href="#iconyiwancheng2"></use></svg>商家发货售后</span>
                <span>商家发货售后</span>
            </div>
            <p  @click="dfaf = true"><svg class="icon" aria-hidden="true" style="width:1.2rem;height:1.2rem;">
                <use xlink:href="#iconshenglvehao"></use>
            </svg></p>

          </div>
        </div>
        
          <div id="dddd" class="downmove" :class="navBarFixed == true ? 'navBarWrap' :''">
            <p v-for="(item,index) in list" :class="num==index?'addd':''" @click="chang(index)">{{item}}</p>
          </div>
          <div class="heightbox" :class="navBarFixed == true ? 'fdafaf' :''">
              <div class="specification" v-if="num==1">
                  <div class="title" v-for='(item,iindex) in specification'>
                  <div style="flex: 1;">{{item.title}}</div>
                  <div style="flex: 2;">{{item.content}}</div>
                  </div>
                  
              </div>
              <div v-else>
                  <img src="../../img/xiangqing.png" style="height: 100%;width:100%;">
              </div>
          </div>
      </div>

      <div class="optionss"> 
        <div class="iconimg">
          <div>
            <p>
              <svg
                class="icon"
                aria-hidden="true"
                style="height:01.2rem;width:01.2rem;"
              >
                <use xlink:href="#iconkefu"></use>
              </svg> </p
            ><p>客服</p>
          </div>
          <div>
            <p
              ><svg
                class="icon"
                aria-hidden="true"
                style="height:01.2rem;width:01.2rem;"
              >
                <use xlink:href="#icongouwuche2"></use></svg></p
            ><p>购物车</p>
          </div>
        </div>

        <div class="btn shopcar" @click="infodemo = true">加入购物车</div>
        <div class="btn nowshop" @click="infodemo = true">立即购买</div>
      </div>

        
        <el-drawer
          title="优惠"
          :visible.sync="drawer"
          direction="btt"
          :before-close="handleClose">
          <div class="fasdfadf">
              <div class="paddings">
                  <p class="pdians">促销</p>
                  <p><span class="btncolor">办理会员</span>购买海露直饮净水器仅需730元</p> 
                </div>

          </div>
          
        </el-drawer>

        <el-drawer
        title="服务"
        :visible.sync="dfaf"
        direction="btt"
        :before-close="hand" >
        <div class="fasdfadf">
            <div class="paddings flexs" >
                <span><svg class="icon" aria-hidden="true" style="width:1.2rem;height:1.2rem;">
                    <use xlink:href="#iconyiwancheng2"></use>
                </svg></span>
                <div>
                  <p>海露发货&售后</p>
                  <p>由海露发货，并提供售后</p>
                </div>
              </div>

        </div>
        
      </el-drawer>


      <div class="mtaikuang" v-if="infodemo">
        <div class="backgroundcolor">
          <p style="text-align: right;">
              <span @click="infodemo = false"><svg class="icon" aria-hidden="true" style="width:1.5rem;height:1.5rem;">
                  <use xlink:href="#iconRectangle"></use>
              </svg>
              </span>
          </p>
          <div class="shoppings">
            <div class="imgg"><img src="../../img/daffodil.jpg" alt=""></div>
            <div class="shopinfo">
                <h4>海露中航国际5A净水系统一体…</h4>
                <h3>￥730.00</h3>
                <p>
                  反间谍法建安费地方撒经理房间发的发反间谍法建安
                </p>
            </div>

          </div>
          <div class="optionsss">
            <div class="ulli">
              <p>颜色</p>
              <div class="colroption">
                <div class="optioninfo">1321</div>
              </div>
            </div>
            <div class="naemssnum">
              <span>数量</span>
              <div class="namess">
                <div @click="jian(numbers)">-</div>
                <p>{{numbers}}</p>
                <div @click="adds(numbers)">+</div>
              </div>
            </div>

            <div class="btnqueren">
                  确认
            </div>

          </div>
        </div>
      </div>




    </div>
  </body>
  <script>
    var app = new Vue({
      el: ".app",
      data: {
        navBarFixed:false,
        list:[
              "产品说明",
              "规格参数"
        ],
        specification: [{
          title: '产品名称',
          content: '中航牌DS-RA型反渗透净水机'
          }, {
          title: '型号',
          content: 'DS-RO-A'
          }, 
        ],
        numbers:1,
        num:0,
        drawer: false,
        dfaf: false,
        infodemo:false
      },
      mounted() {
        window.addEventListener("scroll", this.watchScroll);
      },
      methods:{
        jian(n){
          if(n>1){
            this.numbers=n-1
          }

        },
        adds(n){
          this.numbers=n+1
        },
        watchScroll() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
          var dsfdf = document.getElementsByClassName("heightbox")[0].offsetTop
          // console.log(document.getElementsByClassName("heightbox")[0].offsetHeight)
          if (scrollTop > dsfdf) {
            this.navBarFixed = true;
          } else {
            this.navBarFixed = false;
          }
        },
        chang(index){
          this.num=index
        },
        handleClose(done) {      
            done();
        },
        hand(done) {      
            done();
        }

      }
      
    });
    window.onload = function() {
      var mySwiper = new Swiper(".swiper-container", {
        autoplay: 4000, //可选选项，自动滑动
        loop: true, //可选选项，开启循
        pagination: ".pagination"
      });
    };
    
  </script>
</html>
