<!DOCTYPE html>
<html lang="en" style="height: 100%;background:#F0F1F5;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../css/home/swiper.css" />
    <link rel="stylesheet" href="../../css/home/pagination.css" />
    <link rel="stylesheet" href="../../css/home/shoppingtest.css" />
    <link rel="stylesheet" href="../../css/icon/iconfont.css" />
    <script src="../../js/iconfont.js"></script>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/vue.js"></script>
    <title>商品详情</title>
    <style>
    </style> 
  </head>
  <body>
    <div class="app">
      <div class="contents">
        <!-- //轮播图 -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../img/daffodil.jpg" class="img" />
            </div>
            <div class="swiper-slide">
              <img src="../../img/daffodil.jpg" class="img" />
            </div>
          </div>
          <div class="pagination"></div>
        </div>

        <div class="describe">
          <h3>海露中航国际5A净水系统一体直饮净水机您身边的健康饮水专家</h3>
          <p class="fontsize">（免费领取安装、换新机、检测、维护）</p>
          <h2>￥730.00</h2>
          <P class="beforePirce">原价：￥180.00</P>
        </div>
        <div class="PostOffice">发货地：广东珠海 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 快递：0.00元</div>
        
          <div id="dddd" class="downmove" :class="navBarFixed == true ? 'navBarWrap' :''">
            <p v-for="(item,index) in list" :class="num==index?'addd':''" @click="chang(index)">{{item}}</p>
          </div>
          <div class="heightbox" :class="navBarFixed == true ? 'fdafaf' :''">
              <div class="specification" v-if="num==1">
                  <div class="title" v-for='(item,iindex) in specification'>
                  <div style="flex: 1;">{{item.title}}</div>
                  <div style="flex: 2;">{{item.content}}</div>
                  </div>
                  
              </div>
              <div v-else>
                  <img src="../../img/xiangqing.png" style="height: 100%;width:100%;">
              </div>
          </div>
      </div>

      <div class="optionss">
        <div class="iconimg">
          <div>
            <p>
              <svg
                class="icon"
                aria-hidden="true"
                style="height:01.2rem;width:01.2rem;"
              >
                <use xlink:href="#iconkefu"></use>
              </svg> </p
            ><p>客服</p>
          </div>
          <div>
            <p
              ><svg
                class="icon"
                aria-hidden="true"
                style="height:01.2rem;width:01.2rem;"
              >
                <use xlink:href="#icongouwuche2"></use></svg></p
            ><p>购物车</p>
          </div>
        </div>

        <div class="btn shopcar">加入购物车</div>
        <div class="btn nowshop">立即购买</div>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: ".app",
      data: {
        navBarFixed:false,
        list:[
              "产品说明",
              "规格参数"
        ],
        specification: [{
          title: '产品名称',
          content: '中航牌DS-RA型反渗透净水机'
          }, {
          title: '型号',
          content: 'DS-RO-A'
          }, 

],
        num:0
      },
      mounted() {
        window.addEventListener("scroll", this.watchScroll);
      },
      methods:{
        watchScroll() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
          var dsfdf = document.getElementsByClassName("heightbox")[0].offsetTop
          // console.log(document.getElementsByClassName("heightbox")[0].offsetHeight)
          if (scrollTop > dsfdf) {
            this.navBarFixed = true;
          } else {
            this.navBarFixed = false;
          }
        },
        chang(index){
          this.num=index
        }
      }
      
    });
    window.onload = function() {
      var mySwiper = new Swiper(".swiper-container", {
        autoplay: 4000, //可选选项，自动滑动
        loop: true, //可选选项，开启循
        pagination: ".pagination"
      });
    };
    
  </script>
</html>
